language: ruby
cache: bundler
rvm:
  - 2.2.0

env:
  - DB=sqlite
#  - DB=mysql
#  - DB=postgresql

before_script:
  - sudo apt-get install graphicsmagick
#  - mysql -e 'create database chromotype_test'
  - psql -c 'create database chromotype_test' -U postgres

after_success:
  - CI=true TRAVIS=true coveralls --verbose

deploy:
  provider: heroku
  api_key: 7e2693a9-987c-4f2a-997b-724313dc30b0
  app: t2tintegra
  on: master